*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
    font-family: monospace, sans-serif;
    color: #ff2079;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
a{
    text-decoration: none;
    color: #ff2079;
}

.sectionDiv{
    margin-top: 10%;
}
.nav{
    overflow: hidden;
    background-color: black;
    align-items: center;
    top: 10px;
    left: 10%;
    position: fixed;
}



.link{
    font-family: monospace, sans-serif;
    font-size: 500%;
    padding: 15px;
}

.cont{
    width: 100%;
    height: 100%;
    margin: 150px 0px 0px 0px;
    position: relative;
    text-align: center;
    
}

div.gallery {
    margin: 5px;
    border: 1px solid #ff2079;
    float: left;
    width: 240px;
    height: 300px;
}
  
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 10px;
  }


.fa{
    margin: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #ff2079;
}

.column-left {
    float: left;
    width: 100%;
    padding: 20px;
    background-color: black;
    height: auto;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.textComment{
    background-color: black;
    color: #ff2079;
    margin-top: 20px;
}

.textComment1{
    background-color: black;
    color: #ff2079;
    margin: 15px 0px;
    width: 25%;
}


.h1PaddingR{
    padding: 0px 250px 0px 0px;
}

.h1PaddingL{
    padding: 0px 0px 0px 250px;
}

.sectionDivInterests{
  
    margin: 500px 0px 0px 0px;

}

.pTextA{
    padding: 20px 0px;
}



.dropdown2{
    display: none;

}
.dropdown:hover .dropdown2{
    display: block;
}

.result{
    color: #ff2079;
    float: right;
}
